.portfolio__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}
.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  padding: 0.5rem;
}
.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.btn2{
  background: var( --color-light);
 
  width:max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  border:1px solid var(--color-primary);
  transition: var(--transition);

}
.btn2:hover{
  background: var(--color-white);
  color:var(--color-bg);
  border-color:transparent;
}
/*====== media queries (medium)==========*/
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/*====== media queries (small)==========*/
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
